/* Save more and get your finances right */

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@1,600&display=swap');

.header1 {
    left: calc(50% - 693.15px/2 + 0.09px);

    color: #151531;
}

.main-heading{
    padding: 70px 0px;
    padding-bottom: 50px;
    text-align: center;
}

.heading-size{
    font-size: 20px;
}

@media only screen and (max-width:1024px){
    .main-heading{
        padding: 20px;
    }
}